<!DOCTYPE html>
<html lang="en">
<%- include('../_head'); %> 
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Helpful Insight</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    <%- include('../_sidebar'); %>  
    <!-- End of sidebar -->
    </div>
    
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: auto !important">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit User</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Edit User</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="update_form">
                  <div class="card-body">
                    <input type="hidden" id="userId" name="userId" value="<%=id%>">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"> First Name<span style="color:red ;"> *</span></label>
                          <input type="text" class="form-control" id="firstname" placeholder="Enter email" name="firstname" value="<%=user.firstname%>" required>
                     </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Last Name<span style="color:red ;"> *</span></label>
                          <input type="text" class="form-control" id="lastname" value="<%=user.lastname%>" placeholder="Enter Last Name" name="lastname" required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email Address <span style="color:red ;"> *</span></label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" value="<%=user.email%>" name="email" required readonly>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Phone Number <span style="color:red ;"> *</span></label>
                      <input type="number" class="form-control" id="phone" placeholder="Password" value="<%=user.phone%>" name="phone" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Username</label>
                      <input type="text" class="form-control" id="username" placeholder="Username" value="<%=user.username %>" name="username" readonly>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password </label>
                      <div class="">
                        <input id="password" type="password" class="form-control" name="password" value="<%=user.password %>">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Status</label>
                          <select class="form-control select2" style="width: 100%;" name="status" id="status">
                            <option value="1" <%= user.status == 1 ? 'selected' : '' %> >Active</option>
                            <option value="2" <%= user.status == 2 ? 'selected' : '' %>>Deactive</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Photo </label>
                          <input class="form-control" name="avatar" type="file" id="formFile">
                        </div>
                        <%if(user.avatar){ %>
                        <div>
                          <img src="/uploads/<%=user.avatar%>" alt="" style="height: 55px;width: 100px;">
                        </div>
                        <% } %>
                      </div>

                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" id="update" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('../_script'); %> 

<script>
    $("#update_form").submit(function (event) {
      event.preventDefault();
        let id = $('#userId').val();
        var formData = new FormData($('#update_form')[0]);
        $.ajax({
            url:  '/'+id+'/update',
            method: 'PUT',
            contentType: 'application/json',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
              console.log(response);
              location.href = "/list"
            }
        });

    });
</script>
</body>
</html>
